#googleMap {
    width: 60%;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f5f5ef;
}

h1, h6 {
    text-align: center;
}