<html>

<head>
    <link rel=stylesheet type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
    <title>{{ title }} - Dublin Bikes</title>
</head>

<body>
    <h1>Welcome to {{ title }}!</h1>
    <h6>Flask test, you are: {{ user }}</h6>

    <div id="googleMap"></div>

    <script>
        function myMap() {
            var myLatLng = {
                lat: 53.349976,
                lng: -6.260354
            };
            var mapProp = {
                center: new google.maps.LatLng(53.349976, -6.260354),
                zoom: 13,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
			
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Dublin City'
            });
            
            var number = JSON.parse('{{ number|safe }}');
            var address = JSON.parse('{{ address|safe }}');
            var lat = JSON.parse('{{ lat|safe }}');
            var long = JSON.parse('{{ long|safe }}');
            console.log(number[1] + address);
            
            var infowindow = new google.maps.InfoWindow(), marker, i
            
            for (var i=0; i<lat.length; i++) {
            	var latLng = new google.maps.LatLng(lat[i], long[i]);
            	
            	var marker = new google.maps.Marker({
            		position: latLng,
            		map: map,
            		title: 'Dublin City'
            	});
            	
            	
            	 google.maps.event.addListener(marker, 'click', (function( marker, i ) {
            	 	return function() {
            	 		infowindow.setContent( "Stop: " + number[i] + "<br>" + address[i] );
            	 		infowindow.open( map, marker );
            	 	}
            	 }) ( marker, i ));
            	 
            }
            
            
            	
            }
	google.maps.event.addDomListener(window, 'load', myMap);
            
        

    </script>
   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMns2Y33xj53IYHDDwQQb5P-R2mi5nxQk&callback=myMap"></script>

</body>

</html>